// Navigation Styles here

.nav-bar {
    display: flex;
    margin: 2rem 0;
    padding-bottom: 2.5rem;
    justify-content: space-between;
    border-bottom: 2px dashed @navigation-border;

    h1 {
        font-size: 3rem;        
    }

    nav {
        display: flex;
        margin-left: 6rem;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: black;
        margin-left: 6rem;
        font-size: 1.6rem;
    }
}